/*
Timed Message JS
Copyright 2015 Jeff Sallans
*/
html {
    /*have HTML match the view port*/
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-image: url(background.png);
}

body {
    min-height: 100%;
    background-color: #ffead6;
    padding: 20px;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 100px 100px rgba(249,92,57,0.9);
    -moz-box-shadow: 0px 0px 100px 100px rgba(249,92,57,0.9);
    box-shadow: 0px 0px 100px 100px rgba(249,92,57,0.9);
}

html, button, input {
	font-family: 'Josefin Sans', sans-serif;
	color: #263F73;
}

h2 {
    text-align: center;
    font-size: 40px;
}

input {
    display: inline-block;
    width: 150px;
    background: #ffead6;
    border-style: none;
    border-bottom: 2px solid #263f73;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 30px;
}

p {
    color: #4471ce;
    font-size: 20px;
}

button {
    font-size: 22px;
}

/*Element Specific Styles*/

#message {
    display: block;
    width: 80%;
    border-style: none;
    border-bottom: 2px solid #263f73;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

#duration {
    margin-left: 20px;
    margin-right: 20px;
}

.clickme {
    width: 150px;
}

/*Make UNDO look pretty*/
/*Duplicate to increase selectivity*/
.undo.undo {
    color: rgb(249, 92, 57);
    cursor: pointer;
    transition: color .4s;
}

.undo.undo:hover {
    color: rgb(249, 223, 217);
}

.undo.undo:active {
    color: rgb(50, 50, 50);
    transition: color .05s;
}

/*Move to two lines if nessary*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Make links look pretty*/
.flex-container a {
    text-decoration: none;
    color: rgb(249, 92, 57);
    width: 150px;
    text-align: center;
    padding: 15px;
    margin: 15px;
    font-size: 29px;
    transition: color .4s;
}

.flex-container a:hover {
    color: #263f73;
}

.flex-container a:active {
    color: #FFFFFF;
    transition: color .05s;
}